modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3333
externalPort = 3001

[[ports]]
localPort = 4321
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Dev Server"
author = 44905491
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Sanity Studio"
author = 45170381
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx sanity dev --port 3333 --host 0.0.0.0"
