modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 1337
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Dev Server"
author = 44905491
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Dev with CMS"
author = 45209798
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cms && npm run develop"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 45209798
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd cms && npm run develop"